USE [master]
GO
/****** Object:  Database [YagisDB]    Script Date: 12.01.2026 22:38:34 ******/
CREATE DATABASE [YagisDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YagisDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\YagisDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YagisDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\YagisDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YagisDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YagisDB]
GO
/****** Object:  Table [dbo].[Iller]    Script Date: 12.01.2026 22:38:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iller](
	[IlId] [int] IDENTITY(1,1) NOT NULL,
	[IlAdi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yagislar]    Script Date: 12.01.2026 22:38:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yagislar](
	[YagisId] [int] IDENTITY(1,1) NOT NULL,
	[IlId] [int] NULL,
	[Yil] [int] NULL,
	[Ay] [nvarchar](20) NULL,
	[Miktar] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[YagisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Iller] ON 

INSERT [dbo].[Iller] ([IlId], [IlAdi]) VALUES (1, N'Isparta')
INSERT [dbo].[Iller] ([IlId], [IlAdi]) VALUES (2, N'Antalya')
INSERT [dbo].[Iller] ([IlId], [IlAdi]) VALUES (3, N'Mersin')
SET IDENTITY_INSERT [dbo].[Iller] OFF
GO
SET IDENTITY_INSERT [dbo].[Yagislar] ON 

INSERT [dbo].[Yagislar] ([YagisId], [IlId], [Yil], [Ay], [Miktar]) VALUES (1, 1, 2005, N'Kasım', 50)
INSERT [dbo].[Yagislar] ([YagisId], [IlId], [Yil], [Ay], [Miktar]) VALUES (2, 2, 2008, N'Mart', 120)
INSERT [dbo].[Yagislar] ([YagisId], [IlId], [Yil], [Ay], [Miktar]) VALUES (5, 1, 2015, N'Mayıs', 23)
GO
SET IDENTITY_INSERT [dbo].[Yagislar] OFF
GO
ALTER TABLE [dbo].[Yagislar]  WITH CHECK ADD FOREIGN KEY([IlId])
REFERENCES [dbo].[Iller] ([IlId])
GO
USE [master]
GO
